body
{
	font-size: medium;
	font-family: sans-serif;
	margin: 1em;
}

a
{
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

a:hover
{
	color: #666;
	text-decoration: underline;
}

/**
 * Top and Bottom Navigation Boxes
 */
#headbox, #footbox
{
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 0.2em;
	border-radius: 3px;
	overflow: hidden;
}

.backlink
{
	float: left;
	margin: 0.2em 0.5em;
}

.tablechooser
{
	float: right;
	font-size: 13.3333px;
	font-family: sans-serif;
}

.records
{
	float: left;
	margin: 0.2em 0.5em;
	color: #333;
}

.details-navigation
{
	float: right;
	margin: 0.2em 0.5em;
}

.details-navigation a
{
	padding-right: 1em;
}

table
{
	border-collapse: collapse;
}
td
{
	vertical-align: top;
	padding: 0;
	padding-right: 2em;
}

/**
 * List View
 */
table.data-list
{
	width: 100%;
	margin-top: 1em;
}

table.data-list th
{
	background-color: #ccc;
	border: 1px solid #000;
	text-align: left;
	font-weight: normal;
	padding: 0.2em;
	color: #000;
}

table.data-list td
{
	background-color: #fff;
	border: 1px dotted #aaa;
	padding: 0.2em;
	font-size: medium;
	vertical-align: middle;
}

/* This is for the details column of the List View.
   Note: Firefox, Chrome, and Safari only support the span and width
         attributes of the col element.
 */
table.data-list col.details
{

}

/* TODO: add 'table.data-list td.details' */

/**
 * Details View
 */
.group
{
	margin: 1em 0;
	background-color: #eee;
	padding: 0.8em;
	border-radius: 7px;
}

.group-contents
{
	padding-left: 0.8em;
}

.subgroup
{

}

.group table.data-list
{
	margin-bottom: 0.8em;
}

table.columns
{
	width: 100%;
}

.group-title
{
	font-weight: bold;
	font-size: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 0.8em;
	border-bottom: 1px dashed #000;
}

.subgroup-title
{
	font-weight: bold;
	font-size: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 0.8em;
}

group
{
	margin-top: 0;
	margin-bottom: 0.8em;
}

.details-cell
{
	margin-top: 0;
	margin-bottom: 0.8em;
	overflow: hidden;
}

.details-data
{
	padding: 0 0.25em;
	color: #333;
	float: left;
}

.details-label
{
	padding: 0 0.25em;
	float: left;
}

