body
{
	font-size: medium;
	font-family: sans-serif;
	margin: 1em;
}

a
{
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

a:hover
{
	color: #666;
	text-decoration: underline;
}

#titlebox
{
	overflow: hidden;
}

/**
 * Top and Bottom Navigation Boxes
 */
#headbox, #footbox
{
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 0.2em;
	border-radius: 3px;
	overflow: hidden;
}

div#document-title
{
	float: left;
	color: #333333;
	font-weight: bold;
	font-size: x-large;
	margin-bottom: 0.5em;
}

.reportslabel
{
	float: right;
	margin-left: 0.5em;
	font-size: 13.3333px;
	font-family: sans-serif;
}

.reportschooser
{
	float: right;
	margin-left: 0.5em;
	font-size: 13.3333px;
	font-family: sans-serif;
}

.localeschooser
{
	float: right;
	margin-left: 0.5em;
	font-size: 13.3333px;
	font-family: sans-serif;
}


.backlink
{
	float: right;
	margin: 0.2em 0.5em;
}

.tableschooser
{
	float: left;
	margin-left: 0.5em;
	font-size: 13.3333px;
	font-family: sans-serif;
}

.searchlabel
{
	float: left;
	margin-left: 0.5em;
	font-size: 13.3333px;
	font-family: sans-serif;
}

.searchtextbox
{
	float: left;
	margin-left: 0.5em;
	font-size: 13.3333px;
	font-family: sans-serif;
}

.records
{
	float: left;
	margin: 0.2em 0.5em;
	color: #333;
}

.details-navigation a
{
	padding-right: 1em;
}

table
{
	border-collapse: collapse;
}

/**
 * List View
 */
table.data-list
{
	width: 100%;
	margin-top: 1em;
}

table.data-list th
{
	background-color: #ccc;
	border: 1px solid #000;
	text-align: left;
	font-weight: normal;
	padding: 0.2em;
	color: #000;
}

table.data-list td
{
	background-color: #fff;
	border: 1px dotted #aaa;
	padding: 0.2em;
	font-size: medium;
	vertical-align: middle;
}

/* This is for the details column of the List View.
   Note: Firefox, Chrome, and Safari only support the span and width
         attributes of the col element.
 */
table.data-list col.details
{

}

/* TODO: add 'table.data-list td.details' */

/**
 * Details View
 */
.group
{
	font-family: sans-serif;
	font-size: medium;
	margin: 1em 0;
	background-color: #eee;
	padding: 0.8em;
	border-radius: 7px;
}

.group-contents
{
	padding-left: 0.8em;
}

.subgroup
{

}

/* Overrides the table settings from the list view */
.group table.data-list
{
	margin-top: 0em;
}

.group-column
{
	font-family: sans-serif;
    font-size: medium;
}

.group-title
{
	font-weight: bold;
	font-size: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 0.8em;
	border-bottom: 1px dashed #000;
}

.subgroup-title
{
	font-weight: bold;
	font-size: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 0.6em;
}

group
{
	margin-top: 0;
	margin-bottom: 0.8em;
}

.details-cell
{
	margin-top: 0;
	margin-bottom: 0.8em;
	overflow: hidden;
}

.details-label
{
	padding-right: 0.5em;
	padding-top: 0.25em;
	float: left;
}

.details-data
{
	padding-bottom: 0.5em;
	padding-top: 0.25em;
	color: #333;
	float: left;
}

button.details-navigation
{
	margin-left: 0.5em;
}

/*
 * The Notebook in the Detail View.
 */
 .gwt-TabLayoutPanel
{
	margin-bottom: 0.8em;
}

.gwt-TabLayoutPanelContentContainer
{
	border: none;
	border-bottom: 1px solid rgba(120, 120, 120, 0.2);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
	border: 0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent .group-contents
{
	padding-left: 0;
}

/* The unselected tabs */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab
{
	background-color: #d4d4d4;
	border-radius: 2px 2px 0 0;
	top: 1px;
	border: 1px solid #aaa;
	border-bottom: none;
	background: -moz-linear-gradient(center top, #d4d4d4 90%,#eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.9, #d4d4d4),color-stop(1, #eeeeee));

}

/* The selected tab */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
	background-color: #eee;
	z-index: 10;
	border: 1px solid #787878;
	border-bottom: none;
	top: 1px;
	background: #eee;
}

/* The selected inner tab */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner {
	position: relative;
	margin-top: 1px;
	top: -1px;
}

/* The tab bar */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs
{
	border-bottom: 1px solid #787878;
}

/* The first tab */
.gwt-TabLayoutPanel .firstTab {
	/* Uncomment this line to remove the left margin from the first tab. */
	/* margin-left: 0px; */
}

table.pager td
{
	padding: 4px;
}

#documentSelectionPanel
{
	border-color: #777777;
	border-radius: 6px;
	border-style: solid;
	border-width: 2px;
	margin: 3em auto;
	padding: 3em 0em 3em 3em;
	width: 28em;
}

a.documentLink
{
	font-family: sans-serif;
	font-size: medium;
	font-weight: bold;
	margin-left: 1em;
}

table.documentLinkTable td
{
	padding-bottom: 0.25em;
}

a.dataLink
{
	font-weight: normal;
	color: #333333;
    font-family: sans-serif;
    font-size: medium;
}
